body{
    background-color: grey;
}
.d{

  position: static; 
  width: 93%;
  font-size: 25px;
  color: white;
  margin-top: 50px;
  margin-left: 20px;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tt{
    color: black;
    /*font-weight: bold;*/
    font-family: "Courier New";
    font-size: 65px;
}
.i{
    margin-top: 20px;
    width: 600px;
    margin-left:28%;
}
.pp{
    text-align: center;
    width: 50%;
    margin-left:25%;
}