
<h1>INVENTORY</h1>
  <div class="form-group sr">
  <input type="text" class="form-control" placeholder="Search By Name"
  style="width: 350px;" [(ngModel)]="searchTerm" > 
</div>
<div class="pos">
        <span>Stort by </span><select  [(ngModel)]="stort"class="form-control">
    <option>FEATURED</option>
    <option>ALPHBERICALLY A-Z</option>
    <option>ALPHBERICALLY Z-A</option>
    <option>BEST SELLING</option>

</select></div>
<hr class="bg-dark">

            <div class="row" >
                    <div *ngFor='let a of article | articleFilter:searchTerm ' class="col-sm-3">
                            
                            <img class="card-img-top" [src]="a.photo" >
                            
                      <div class="card">
                        <div class="card-body">
                              <h6> {{a.matricule}}</h6><span class="text-center">
                          <h5 class="card-title">{{a.libelle}}</h5>
                          <h5  class="text-success">{{a.prix|currency}}</h5></span>
                          <div class="text-center">
                          <a  [routerLink]="['/selectart',a.matricule]" ><img src="./assets/e.png" width="35"></a>   </div>                     </div>
                      </div><br><br><br>
                    </div >
                  </div>
                  
                
                